@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(22, 190, 140);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #012e26;
    color: black;

}

/* header , logo and h1 */
.topbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(22, 190, 140);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;

}

#topbarlogo {

    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    float: left;
    margin: 10px;
}

nav {
    float: right;
    font-size: 100%;
    letter-spacing: 3px;
}

#navmenu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    font-size:xx-large;
}

#topbarlogo,
#navmenu {
    line-height: 80px;
}

#navmenu a {
    text-decoration: none;
}

#navmenu a:hover {
    border-bottom: 1px solid #012e26;
}

.activemenu {
    border-bottom: 1px solid #012e26;
}

/* hero image */
#hero-welcome-outer {
    padding-top: 100px;
}

.hero-image {

    height: 710px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welcome text */



.welcome-text {

    color: #00ff1f;
    background-color: rgba(4, 75, 7, 0.493);
    border: 10px solid rgb(22, 190, 140);
    border-radius: 50px;
    box-shadow: 5px 10px;
    font-size: 300%;
    width: fit-content;
    height: 250px;

    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    align-items: center;
}

/* about us text */

#aboutus-text {
    font-size: 200%;
    text-align: center;
    margin: 50px 50px 50px;
}

/* shop produce section */

.menu-image {
    height: 710px;
    width: 100%;
    background: url(../images/fruit-veg.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#shop-produce {
   
    font-size: 500%;
    top: 200px;
    line-height: 350%;
    text-align: center;
}

.veggie-box {
    color: #00ff1f;
    width: fit-content;
    height: fit-content;
    background-color: rgba(4, 75, 7, 0.493);
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
}

.veggie-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}

.veggies li {
    font-size: inherit;
    padding-top: 0%;
    text-align: left;
    list-style-type: none;
}

.fruit-box {
    color: #00ff1f;
    width: fit-content;
    height: fit-content;
    background-color: rgba(4, 75, 7, 0.493);
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
}

.fruit-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}


.veggies {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 1%;
}


.fruits {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 5%;
    list-style-type: none;
    text-align: left;
}

/* visit farms section */

#visit-farms {
    font-size: 200%;
    text-align: center;
    margin: 50px 50px 50px;

}

#visit-farms h2 {
    font-size: 250%;
    line-height: 350%;
}

/* gallery */
#farm-trip-gallery {
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    row-gap: 0;
    clear: both;
}

#farm-trip-gallery>img {
    width: 100%;
}

/* farming videos */

.farm-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.farm-videos h2 {
    font-size: 400%;
    text-align: center;
    /* margin: 50px 50px 50px;
        font-size: 250%; */
    line-height: 350%;
}

.video-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
    border: 6px solid black;
}

.video-first {

    max-width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-second {
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-first iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-second iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* contact us */



#contact-us {
    font-size: 350%;
    text-align: center;
    top: 0;
    line-height: 5em;
    /* font-size: 200%; */
    text-align: center;
    margin: 0 50px 50px;
    padding: 0;
}

#contact-us>h2 {
    text-align: center;
    margin: 50px 50px 50px;
}

.form-address-container{
    height: 700px;
    width:100%;
    background: url(../images/contact.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* form section */

.contact-container {
    
    background-color: rgba(208, 221, 159, 0.493);
    
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px 25px 25px;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.name-item {
    font-size: 100%;
    font-weight: 600;
    width: 100%;
    
}

.text-item{
    height: 1.50rem;
    border: 2px solid black;
}
.text-item:hover {
    border-color: #ffffff;
    border: 2px solid rgb(22, 190, 140);
}

.email-item {
    font-size: 100%;
    font-weight: 600;
    width: 100%;
}

.text-box-item {
    border: 2px solid black;
    
}

.text-box-item:hover {
    border-color: #ffffff;
    border: 2px solid rgb(22, 190, 140);
}

.submit-item{
    font-size: 100%;
    font-weight: 600;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.submit-item:hover {
    border-color: #ffffff;
    border: 2px solid rgb(22, 190, 140);
    background-color: gray;
    color: #ffffff;
}

.footer-container {
    display: flex;
	justify-content: space-around;
    
}
.footer-container h2 {
    font-size: 2em;
    letter-spacing: 1px;
}


/* location map */

.address-map {
    
    background-color: rgba(208, 221, 159, 0.493);
    width: fit-content;
    height: fit-content;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding: 20px 40px 50px 50px;
    font-size: 1.25em;
    letter-spacing: 1px;
}
/* social networks */

.social-networks ul {
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    
} 
.social-networks li {
    display: inline;
    list-style-type: none;
    
} 

.social-networks i {
    text-align: center;
    font-size: 200%;
    margin: 0.75rem;
    padding:0;
    color: #3a3a3a;
    
}
.social-networks h2 {
    text-align: center;
}

footer {
padding-top: 10px;
padding-bottom: 10px;
}

footer h2 {
    font-size: 1em;
}

footer p {
    font-size: 1.25em;
    letter-spacing: 1px;
}

/* Media Queries */
/* Media query for devices with max width 1200px and below */
@media screen and (max-width: 1200px) {
    
    #shop-produce {
    font-size: 500%;
    top: 200px;
    line-height: 350%;
    }
    .menu-image {
        background-size: cover;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }
    .veggie-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .veggie-box h3 {
        margin-top: 0;
    }
    .form-address-container {
        background-size: cover;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
}

/* Media query for devices with max width 950px and below */
@media screen and (max-width: 950px) {
    .hero-image {
        background-size: cover;
        height: 950px;
    }
    .welcome-text {
        width: fit-content;
        height: fit-content;
        padding: 0;
        font-size: 200%;
    }
    /* #shop-produce {
        padding-top: 200%;
        
    } */
    #farm-trip-gallery {
        column-count: 2;
    }

    .video-box {
        max-width: 500px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Media query for devices with max width 550px and below */
@media screen and (max-width: 550px) {
    .hero-image {
        background-size: cover;
        display: flex;
    justify-content: center;
    align-items: center;
        align-items: center;
        /* height: 950px; */
    } 
    .welcome-text {
        font-size: 175%;
    }
    #aboutus-text {
        margin: 0;
    }
    #shop-produce {
        padding-top: 250px;
        font-size: 400%;
        /* top: 500px;
        line-height: 900%; */
        margin: 0;
        top:180px;
    }
    #visit-farms {
        padding-top: 250px;
    }
    #visit-farms h2 {
        font-size: 200%;
        line-height: 300%;
    }
    #farm-trip-gallery {
   column-count: 1;
    }
    .video-box {
        max-width: 300px;
    }
    #contact-us {
        padding-top: 250px;
        line-height: 2em;
    }

    .contact-container {
        width: max-content;
    height: fit-content;
    background-size: cover;
    }
    }

/* Media query for devices with max width 375px and below */
@media screen and (max-width: 375px) {
    #topbarlogo {
        font-size: 200%;
    }

    #navmenu li {
        float: left;
        list-style-type: none;
        margin-right: 30px;
        font-size:larger;
    }
    .hero-image {
        width: 350px;
        height: 850px;
    }
    

    .veggie-box h3 {
        font-size: 150%;
    }
    .veggies {
        font-size: 1.25em;
    }
    .fruit-box h3 {
        font-size: 150%;
    }
    .fruits {
        font-size: 1.25em;
    }
}