@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color:#ffffff;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #012e26;
    color: #003300;

}

/* header , logo and h1 */
.topbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    background-color:#ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;

}

#topbarlogo {
    color:#003300;
/* color: #012e26; */
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    float: left;
    margin: 5px;
}

nav {
    
    float: right;
    font-size: 100%;
    letter-spacing: 3px;
}

#navmenu li {
    
    float: left;
    list-style-type: none;
    margin-right: 30px;
    font-size:larger;
}

#topbarlogo,
#navmenu {
    line-height: 50px;
}

#navmenu a {
    text-decoration: none;
    color:#003300;

}

#navmenu a:hover {
    border-bottom: 1px solid #012e26;
}

.activemenu {
    border-bottom: 1px solid #012e26;
}

/* hero image */
#hero-welcome-outer {
    padding-top: 50px;
}

.hero-image {

    height: 600px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welcome text */



.welcome-text {
    
color: #003300;
background-color: rgba(240, 127, 22, 0.493);
    border: 10px solid rgb(22, 190, 140);
    border-radius: 50px;
    box-shadow: 5px 10px;
    font-size: 200%;
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    align-items: center;
}

/* about us text */

#aboutus-text {
    font-size: 150%;
    text-align: center;
    margin: 25px 50px;
}

/* shop produce section */

.menu-image {
    height: 600px;
    width: 100%;
    background: url(../images/fruit-veg.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#shop-produce {
   
    font-size: 250%;
    top: 200px;
    line-height: 425%;
    text-align: center;
}

.veggie-box {
    color: #003300;
    width: fit-content;
    height: fit-content;
    background-color: rgba(153, 255, 153, 0.500);
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 20px;
    text-align: center;
}

.veggie-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}

.veggies li {
    font-size: inherit;
    padding-top: 0%;
    text-align: left;
    list-style-type: none;
}

.fruit-box {
    color: #003300;
    width: fit-content;
    height: fit-content;
    background-color: rgba(153, 255, 153, 0.500);
    padding-left: 25px;
    padding-right: 20px;
    text-align: center;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
}

.fruit-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}


.veggies {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 1%;
}


.fruits {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 5%;
    list-style-type: none;
    text-align: left;
}

/* visit farms section */

#visit-farms {
    font-size: 150%;
    text-align: center;
    margin: 25px 50px 25px;

}

#visit-farms h2 {
    font-size: 200%;
    line-height: 350%;
}

/* gallery */

#farm-trip-gallery {
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    row-gap: 0;
    clear: both;
}

#farm-trip-gallery>img {
    width: 100%;
}

/* farming videos */

.farm-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.farm-videos h2 {
    font-size: 250%;
    text-align: center;
    line-height: 250%;
}

.video-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
    border: 6px solid black;
    /* overflow: hidden; */
}

.video-first {

    max-width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    /* overflow: hidden; */
    display: block;
}

.video-second {
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    /* overflow: hidden; */
}

.video-first iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
}

.video-second iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* contact us */



#contact-us {
    font-size: 275%;
    text-align: center;
    top: 0;
    line-height: 4em;
    text-align: center;
    margin: 0 50px 0;
    padding: 0;
}

#contact-us>h2 {
    text-align: center;
    margin: 50px 50px;
}

.form-address-container{
    height: 600px;
    width:100%;
    background: url(../images/contact.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

/* form section */

.contact-container {
    
    background-color: rgba(208, 221, 159, 0.493);
    
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px 25px 25px;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.name-item {
    font-size: 100%;
    font-weight: 600;
    width: 100%;
    
}

.text-item{
    height: 1.50rem;
    border: 2px solid black;
}
.text-item:hover {
    border-color: #ffffff;
    border: 2px solid rgb(22, 190, 140);
}

.email-item {
    font-size: 100%;
    font-weight: 600;
    width: 100%;
}

.text-box-item {
    border: 2px solid black;
    
}

.text-box-item:hover {
    border-color: #ffffff;
    border: 2px solid rgb(22, 190, 140);
}

.submit-item{
    font-size: 100%;
    font-weight: 600;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.submit-item:hover {
    border-color: #ffffff;
    border: 2px solid rgb(22, 190, 140);
    background-color: gray;
    color: #ffffff;
}

.footer-container {
    display: flex;
	justify-content: space-around;
    
}
.footer-container h2 {
    font-size: 2em;
    letter-spacing: 1px;
}


/* location map */

.address-map {
    
    background-color: rgba(208, 221, 159, 0.493);
    width:min-content;
    height:min-content;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px 25px 25px;
    
}

.address-map h2 {
    font-size: 2em;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}
/* social networks */

.social-networks ul {
    text-align: center;
} 
.social-networks li {
    display: inline;
    list-style-type: none;
    
} 

.social-networks i {
    text-align: center;
    font-size: 200%;
    margin: 0.75rem;
    padding:0;
    color: #3a3a3a;
    
}
.social-networks h2 {
    text-align: center;
}

footer {
padding-top: 10px;
padding-bottom: 10px;
}

footer h2 {
    font-size: 1em;
}

footer p {
    font-size: 1.25em;
    letter-spacing: 1px;
}
/* disclaimer */
.disc-text {
    text-align: center;
    font-size: 0.75em;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Media Queries */
/* Media query for devices with max width 1200px and below */
@media screen and (max-width: 1200px) {
    
    .form-address-container {
 
        background-size: cover;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    .contact-container {
        width: 80%;
        height: 90%;

}
}
/* Media query for devices with max width 950px and below */
@media screen and (max-width: 950px) {
    .hero-image {
        background-size: cover;
        height: 950px;
    }
    .welcome-text {
        width: fit-content;
        height: fit-content;
        padding: 0;
        font-size: 200%;
    }
    
    .menu-image {
        background-size: cover;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }
    .veggie-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .veggie-box h3 {
        margin-top: 0;
    }
    #farm-trip-gallery {
        column-count: 2;
    }

    .video-box {
        max-width: 500px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Media query for devices with max width 550px and below */
@media screen and (max-width: 550px) {
    nav {
        letter-spacing: 0;
    }
    #navmenu li {
        float: left;
        list-style-type: none;
        margin-right: 25px;
        font-size:1.25rem;
    }
    .hero-image {
        background-size: cover;
        display: flex;
    justify-content: center;
    align-items: center;
        align-items: center;
        /* height: 950px; */
    } 
    .welcome-text {
        font-size: 175%;
    }
    #aboutus-text {
        margin: 0;
    }
    #shop-produce {
        padding-top: 250px;
        font-size: 400%;
        margin: 0;
        top:180px;
    }
    #visit-farms {
        padding-top: 250px;
    }
    #visit-farms h2 {
        font-size: 200%;
        line-height: 300%;
    }
   
    #farm-trip-gallery {
   column-count: 1;
    }
    
    .video-box {
        max-width: 300px;
    }
    #contact-us {
        padding-top: 250px;
        line-height: 2em;
    }

    .contact-container {
    width: 17rem;
    height: 33rem;
    padding: 0.25rem 0 0.25rem 1rem;
    }

    .contact-container h2 {
        font-size: 1.25rem;
    }
    .text-box-item {
        width: 75%;
        height: 80%;
    }
    .address-map {
        width: 17rem;
        height: 33rem;
        padding: 0.25rem 1rem 0.25rem 1rem;
    }
    .map-iframe {
        width: 15rem;
        height: 29rem;
        padding: 0.25rem 1rem 0.25rem 1rem;

    }
}
/* Media query for devices with max width 405px and below */
@media screen and (max-width: 405px) {
    #navmenu li {
        font-size:1rem;
    }
}
/* Media query for devices with max width 375px and below */
@media screen and (max-width: 375px) {
    #topbarlogo {
        font-size: 200%;
    }
    nav {
        letter-spacing: 0;
    }
    #navmenu li {
        float: left;
        list-style-type: none;
        margin-right: 25px;
        font-size:1rem;
    }
    
    #aboutus-text {
        margin: 10px 50px;
        
    }

    #shop-produce {
        font-size: 250%;
        padding-top: 10rem;
        line-height: 4rem;
    }

    .veggie-box h3 {
        font-size: 100%;
    }
    .veggies {
        font-size: 1.25em;
    }
    .fruit-box h3 {
        font-size: 100%;
    }
    .fruits {
        font-size: 1.25em;
        margin-top: 1%;
        
    }
    .fruits li {
        padding: 0;
        text-align: left;
    }

    #visit-farms {
        padding-top: 10rem;
        /* line-height: 2rem; */
    
    }

    #contact-us {
        padding-top: 10rem;
    }
    .map-iframe {
        width: 15rem;
        height: 29rem;
        padding: 0.25rem 1rem 0.25rem 1rem;

    }
}