@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: rgb(22, 190, 140);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #012e26;
    color: black;
    
}

/* header , logo and h1 */

#topbarlogo {
    font-size: 300%; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    float: left;
    margin: 10px;
    
}

nav{
    float:right;
    font-size: 100%;
    letter-spacing: 3px;
}

#navmenu li {
    float:left;
    list-style-type: none;
    margin-right: 30px;
    font-size: larger;
}

#topbarlogo, #navmenu {
    line-height: 80px;
}

#navmenu a {
    text-decoration: none;
}

#navmenu a:hover {
    border-bottom: 1px solid #012e26;
}

.activemenu {
    border-bottom: 1px solid #012e26;
}

/* hero image */

#hero-image {
    
    height: 75rem;
    width: 100%;
    background: url(/assets/images/hero.jpg) no-repeat center center;
    overflow: hidden;
}

/* welcome text */

#welcome-text {
    font-size: 500%;
    text-align: center;
    margin: 50px 50px 50px;
}

#welcome-box {
    color:aqua;
    background-color: rgba(4, 75, 7, 0.493);
   padding: 50px;
   margin: 350px;
   border: 10px solid rgb(22, 190, 140);
    align-items: center;
    border-radius: 50px;
   transform: translate(5%, -15%);
}

/* about us text */

#aboutus-text {
        font-size: 200%;
        text-align: center;
        margin: 50px 50px 50px;
}

/* shop and trip section */

#menu-image {
    height: 75rem;
    width: 100%;
    background: url(farmorganiks/assets/images/hero.jpg) no-repeat center center;
    overflow: hidden;
}

#shop-trip {
    font-size: 500%;
        text-align: center;
        margin: 50px 50px 50px;
}

#veggie-box {
    color:aqua;
    width:20%;
    height:45%;
    background-color: rgba(4, 75, 7, 0.493);
   padding: 50px;
   margin: 350px;
   border: 10px solid rgb(22, 190, 140);
   box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
   transform: translate(-20%, -45%);
}

#veggie-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}
#veggies li {
    font-size: inherit;
    padding-top: 0%;
}

#fruit-box {
    color:aqua;
    width:20%;
    height:45%;
    background-color: rgba(4, 75, 7, 0.493);
   padding: 50px;
   margin: 350px;
   border: 10px solid rgb(22, 190, 140);
   box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
   transform: translate(150%, -198%);
   display: flex;
}

#fruit-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}


#veggies {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 1%;
}


#fruits {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 5%;
}