@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: rgb(22, 190, 140);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #012e26;
    color: black;
    
}

/* header , logo and h1 */
.topbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    background-color:  rgb(22, 190, 140);
    display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
    padding-bottom: 10px;

}
#topbarlogo {
    
    font-size: 300%; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    float: left;
    margin: 10px;
}

nav{
    float:right;
    font-size: 100%;
    letter-spacing: 3px;
}

#navmenu li {
    float:left;
    list-style-type: none;
    margin-right: 30px;
    font-size: larger;
}

#topbarlogo, #navmenu {
    line-height: 80px;
}

#navmenu a {
    text-decoration: none;
}

#navmenu a:hover {
    border-bottom: 1px solid #012e26;
}

.activemenu {
    border-bottom: 1px solid #012e26;
}

/* hero image */
#hero-welcome-outer {
    /* position:relative;
    overflow: hidden; */
    padding-top: 100px;
    
    
}

.hero-image {
   
    height: 710px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center;
    display: flex;
	justify-content: center;
	align-items: center;
}

/* welcome text */



.welcome-text {
   
    color: #00ff1f;
    background-color: rgba(4, 75, 7, 0.493);
    border: 10px solid rgb(22, 190, 140);
    border-radius: 50px;
    box-shadow: 5px 10px;
    font-size: 300%;
    width:fit-content;
    height: 250px;
    
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    align-items: center;
    /* padding-top: 20px; */
    /* bottom: 30px;
    right: 150px;
    float: right;
    
    
    
    margin: -308px 145px 115px; */
     
}

/* about us text */

#aboutus-text {
        font-size: 200%;
        text-align: center;
        margin: 50px 50px 50px;
}

/* shop produce section */

.menu-image {
    height: 710px;
    width: 100%;
    background: url(../images/fruit-veg.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
	justify-content: space-around;
	align-items: center;
}

#shop-produce {
    font-size: 500%;
        text-align: center;
        margin: 0px 50px 50px;
        top: 200px;
}

.veggie-box {
    color:aqua;
    width:fit-content;
    height:45%;
    background-color: rgba(4, 75, 7, 0.493);
   /* padding: 50px;
   margin: 350px; */
   border: 10px solid rgb(22, 190, 140);
   box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
   /* transform: translate(-20%, -45%); */
   padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    
}

.veggie-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}
.veggies li {
    font-size: inherit;
    padding-top: 0%;
    text-align: center;
}

.fruit-box {
    color:aqua;
    width:fit-content;
    height:45%;
    background-color: rgba(4, 75, 7, 0.493);
   padding: 50px;
   margin: 350px;
   border: 10px solid rgb(22, 190, 140);
   box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
   /* transform: translate(150%, -198%); */
   /* display: flex; */
}

.fruit-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}


.veggies {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 1%;
}


.fruits {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 5%;
}

/* visit farms section */

#visit-farms {
    font-size: 200%;
        text-align: center;
        margin: 50px 50px 50px;
}

/* gallery */
#farm-trip-gallery {
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#farm-trip-gallery > img {
    width: 100%;
}

/* farming videos */

#farm-videos {
    font-size: 200%;
        text-align: center;
        margin: 50px 50px 50px;
}
