@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(22, 190, 140);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #012e26;
    color: black;

}

/* header , logo and h1 */
.topbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(22, 190, 140);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;

}

#topbarlogo {

    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    float: left;
    margin: 10px;
}

nav {
    float: right;
    font-size: 100%;
    letter-spacing: 3px;
}

#navmenu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    font-size: larger;
}

#topbarlogo,
#navmenu {
    line-height: 80px;
}

#navmenu a {
    text-decoration: none;
}

#navmenu a:hover {
    border-bottom: 1px solid #012e26;
}

.activemenu {
    border-bottom: 1px solid #012e26;
}

/* hero image */
#hero-welcome-outer {
    padding-top: 100px;
}

.hero-image {

    height: 710px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welcome text */



.welcome-text {

    color: #00ff1f;
    background-color: rgba(4, 75, 7, 0.493);
    border: 10px solid rgb(22, 190, 140);
    border-radius: 50px;
    box-shadow: 5px 10px;
    font-size: 300%;
    width: fit-content;
    height: 250px;

    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    align-items: center;
}

/* about us text */

#aboutus-text {
    font-size: 200%;
    text-align: center;
    margin: 50px 50px 50px;
}

/* shop produce section */

.menu-image {
    height: 710px;
    width: 100%;
    background: url(../images/fruit-veg.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#shop-produce {
    font-size: 500%;
    text-align: center;
    top: 200px;
    line-height: 350%;
}

.veggie-box {
    color: #00ff1f;
    width: fit-content;
    height: fit-content;
    background-color: rgba(4, 75, 7, 0.493);
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
}

.veggie-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}

.veggies li {
    font-size: inherit;
    padding-top: 0%;
    text-align: left;
    list-style-type: none;
}

.fruit-box {
    color: #00ff1f;
    width: fit-content;
    height: fit-content;
    background-color: rgba(4, 75, 7, 0.493);
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
}

.fruit-box h3 {
    font-size: 250%;
    text-align: center;
    margin-top: 5%;
}


.veggies {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 1%;
}


.fruits {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 5%;
    list-style-type: none;
    text-align: left;
}

/* visit farms section */

#visit-farms {
    font-size: 200%;
    text-align: center;
    margin: 50px 50px 50px;

}

#visit-farms h2 {
    font-size: 250%;
    line-height: 350%;
}

/* gallery */
#farm-trip-gallery {
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    row-gap: 0;
    clear: both;
}

#farm-trip-gallery>img {
    width: 100%;
}

/* farming videos */

.farm-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.farm-videos h2 {
    font-size: 400%;
    text-align: center;
    /* margin: 50px 50px 50px;
        font-size: 250%; */
    line-height: 350%;
}

.video-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
    border: 6px solid black;
}

.video-first {

    max-width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-second {
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-first iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-second iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* contact us */



#contact-us {
    font-size: 500%;
    text-align: center;
    top: 0;
    line-height: 5em;
    /* font-size: 200%; */
    text-align: center;
    margin: 50px 50px 50px;
}

#contact-us>h2 {
    text-align: center;
    margin: 50px 50px 50px;
}

.form-address-container{
    display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* form section */

.contact-container {
    background-color: rgba(4, 75, 7, 0.493);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 40px;
}


.contact {
    display: flex;
	justify-content: space-around;
}

/* location map */

.address-map {
    background-color: rgba(4, 75, 7, 0.493);
    width: fit-content;
    height: fit-content;
    border: 10px solid rgb(22, 190, 140);
    box-shadow: 5px 10px;
    align-items: center;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 40px;
}
/* social networks */

.social-networks ul {
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    
} 
.social-networks li {
    display: inline;
    list-style-type: none;
    
} 

.social-networks i {
    text-align: center;
    font-size: 200%;
    margin: 0.75rem;
    padding:0;
    color: #3a3a3a;
    
}
.social-networks h2 {
    text-align: center;
}

.address h2{

}